# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
*.venv
*.env
Pipfile
Pipfile.lock

# Django-related
*.log
*.sqlite3
db.sqlite3
/media/
/staticfiles/
static/
*.pyc
*.pyo
*.pyd

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
*.secret

# Migrations
**/migrations/*.pyc
**/migrations/*.py

# Cache and build files
.DS_Store
node_modules/
npm-debug.log
coverage/
htmlcov/
__pycache__/

# Docker
docker-compose.override.yml

# Celery
celerybeat-schedule
celerybeat.pid

# Testing
.tox/
.nox/
.coverage
pytest_cache/
junit.xml

# MyPy
.mypy_cache/

# Heroku
*.log
.heroku/

# Local development
*.local
*.dev
